/* Styles from http://xkcd.com */

body.loading * {
  cursor: wait;
}

pre {
  white-space: pre-wrap;       /* css-3 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

body {
	background-color:#96A8C8;
	text-align:center;
	font-size:12px;
	font-family:Helvetica,sans-serif;
	font-weight:500;
	text-decoration: none;
	position: absolute;
	left: 35%;
	width: 880px;
	margin-left: -460px;
	margin-top: 5px;
}

a{
	color:#96A8C8;
	text-decoration:none;
	font-weight:800
}

a:hover{
	text-decoration:underline
}

img{
	border:0
}

.box { 
	background:white;
	border-style:solid;
	border-width:1.5px;
	border-color:#071419;
	border-radius: 12px;
	-moz-border-radius: 12px;
}

#middle-container {
	width: 880px;
	margin: 5px  auto;
	padding: 10px 0;
}

.ctitle {
    margin: 10px;
    font-size: 21px;
    font-weight: 800;
}

ul.comic-nav {
	padding:0;
	list-style-type:none;
	font-variant:small-caps;
}

.ctitle {
  font-variant:small-caps;
}

#footer {
  font-variant:small-caps;
  font-size: 16px;
}

ul.comic-nav li {
	display: inline;
}

ul.comic-nav li a {
	background-color:#6E7B91;
	color: #FFF;
	border: 1.5px solid #333;
	font-size: 16px;
	font-weight: 600;
	padding: 1.5px 12px;
	margin: 0 4px;
	text-decoration: none;
	border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	box-shadow: 0 0 5px 0 gray;
	-moz-box-shadow: 0 0 5px 0 gray;
	-webkit-box-shadow: 0 0 5px 0 gray;	
}

ul.comic-nav a.selected {
	background-color: #DDD;
	color: #6E7B91;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

ul.comic-nav a:hover {
	background-color: #FFF;
	color: #6E7B91;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

#middle-container { position:relative; left:50%; margin-left:-390px; }
.comic .comic { position:absolute; }
.comic .panel, .comic .cover, .comic .panel img { position:absolute; }
.comic .cover { z-index:10; }

.transcript {
  text-align: left;
  margin: 12px 80px;
  font-size: 1.2em;
}

#transcript-edit #text {
  width: 90%;
  min-height: 150px;
  font-variant: normal;
}

#user-info {
  text-align: right;
  margin-right: 20px;
}

.transcript {
}

#history {
  margin-top: 5px;
}

#history ul {
  list-style-type: none;
}

div.ui-tooltip {
    max-width: 400px;
}

#footer .info {
  font-size: 0.7em;
}

#search {
  text-align: left;
  margin-left: 50px;
  margin-top: 20px;
}

nav.pagination {
  padding: 5px;
}

#transcript_text, .hint {
  width: 90%;
  min-height: 120px;
  resize: none;
}

textarea.hint {
	color: #bdc3c7;
	resize: none;
  -moz-box-shadow: none;
  box-shadow: none;
}

.transcripts {
  text-align: left;
  list-style-type: none;
}
